version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: integration
      POSTGRES_USER: integration
      POSTGRES_PASSWORD: integration
    ports:
      - "5432:5432"
    volumes:
      - ../../postgres/001_init.sql:/docker-entrypoint-initdb.d/001_init.sql:ro

  kafka:
    image: bitnami/kafka:3.7
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=false
      - KAFKA_CFG_NUM_PARTITIONS=3
      - KAFKA_KRAFT_CLUSTER_ID=abcdefghijklmnopqrstuv

  kafka-init:
    image: bitnami/kafka:3.7
    depends_on:
      - kafka
    entrypoint: ["/bin/bash", "-c"]
    command: >
      "sleep 8 &&
      kafka-topics.sh --bootstrap-server kafka:9092 --create --if-not-exists --topic device-events --partitions 3 --replication-factor 1 &&
      kafka-topics.sh --bootstrap-server kafka:9092 --create --if-not-exists --topic dicom-events --partitions 3 --replication-factor 1 &&
      kafka-topics.sh --bootstrap-server kafka:9092 --create --if-not-exists --topic canonical-data --partitions 3 --replication-factor 1 &&
      kafka-topics.sh --bootstrap-server kafka:9092 --create --if-not-exists --topic dlq --partitions 3 --replication-factor 1"

  orthanc:
    image: orthancteam/orthanc
    ports:
      - "8042:8042"
      - "4242:4242"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    depends_on:
      - kafka
